@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'ui';
		src: url('../public/fonts/plus-jakarta-bold.woff2') format('woff2');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'ui';
		src: url('../public/fonts/plus-jakarta-italic.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: 'ui';
		src: url('../public/fonts/plus-jakarta-regular.woff2') format('woff2');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'heading';
		src: url('../public/fonts/raleway-bold.woff') format('woff');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}
	:root[data-theme='dark'] {
		--white: 0deg, 0%, 100%;

		--gray-100: 222deg, 25%, 10%;
		--gray-200: 222deg, 25%, 13%;
		--gray-600: 222deg, 8%, 61%;
		--gray-700: 222deg, 10%, 70%;
		--gray-800: 222deg, 10%, 79%;
		--gray-900: 222deg, 2%, 92%;

		--blue-200: 222deg, 24%, 19%;
		--blue-300: 222deg, 40%, 20%;
		--blue-500: 215deg, 95%, 57%;
		--blue-700: 216deg, 25%, 70%;
		--blue-800: 215deg, 67%, 94%;
		--blue-900: 215deg, 90%, 98%;

		--orange-200: 23deg, 15%, 17%;
		--orange-300: 26deg, 37%, 25%;
		--orange-500: 24deg, 93%, 65%;

		--green-200: 148deg, 15%, 17%;
		--green-300: 148deg, 37%, 15%;
		--green-500: 148deg, 81%, 50%;
		--green-700: 149deg, 12%, 56%;
		--green-800: 148deg, 31%, 80%;
		--green-900: 150deg, 80%, 98%;

		--purple-200: 254deg, 14%, 18%;
		--purple-300: 254deg, 38%, 23%;
		--purple-500: 251deg, 99%, 78%;
		--purple-700: 251deg, 11%, 60%;
		--purple-800: 250deg, 29%, 84%;
		--purple-900: 248deg, 80%, 98%;

		--red-200: 346deg, 15%, 17%;
		--red-300: 345deg, 38%, 31%;
		--red-500: 346deg, 86%, 66%;
		--red-700: 345deg, 9%, 58%;
		--red-800: 344deg, 24%, 82%;
		--red-900: 346deg, 87%, 97%;

		--yellow-200: 42deg, 15%, 17%;
		--yellow-300: 41deg, 37%, 25%;
		--yellow-500: 41deg, 80%, 67%;
		--yellow-700: 39deg, 9%, 58%;
		--yellow-800: 41deg, 26%, 81%;
		--yellow-900: 38deg, 80%, 98%;
	}

	:root[data-theme='light'] {
		--white: 0deg, 0%, 100%;

		--gray-100: 220deg, 60%, 99%;
		--gray-200: 220deg, 73%, 97%;
		--gray-600: 221deg, 11%, 51%;
		--gray-700: 223deg, 14%, 39%;
		--gray-800: 222deg, 19%, 31%;
		--gray-900: 221deg, 24%, 24%;

		--blue-200: 212deg, 90%, 96%;
		--blue-300: 213deg, 100%, 94%;
		--blue-500: 215deg, 94%, 50%;
		--blue-700: 215deg, 33%, 44%;
		--blue-800: 215deg, 35%, 31%;
		--blue-900: 215deg, 54%, 24%;

		--orange-200: 25deg, 90%, 96%;
		--orange-300: 25deg, 95%, 92%;
		--orange-500: 25deg, 79%, 43%;

		--green-200: 138deg, 62%, 96%;
		--green-300: 147deg, 50%, 93%;
		--green-500: 148deg, 68%, 37%;
		--green-700: 148deg, 19%, 44%;
		--green-800: 148deg, 15%, 31%;
		--green-900: 149deg, 24%, 24%;

		--purple-200: 250deg, 67%, 96%;
		--purple-300: 250deg, 94%, 96%;
		--purple-500: 250deg, 95%, 64%;
		--purple-700: 250deg, 18%, 55%;
		--purple-800: 251deg, 20%, 40%;
		--purple-900: 251deg, 24%, 33%;

		--red-200: 348deg, 56%, 96%;
		--red-300: 346deg, 94%, 94%;
		--red-500: 345deg, 60%, 53%;
		--red-700: 345deg, 16%, 52%;
		--red-800: 344deg, 20%, 37%;
		--red-900: 345deg, 24%, 30%;

		--yellow-200: 24deg, 71%, 96%;
		--yellow-300: 41deg, 94%, 93%;
		--yellow-500: 41deg, 90%, 32%;
		--yellow-700: 41deg, 16%, 46%;
		--yellow-800: 40deg, 15%, 31%;
		--yellow-900: 41deg, 24%, 24%;
	}

	@media (prefers-color-scheme: lime) {
	}
}

@layer base {
	p,
	b,
	i,
	a,
	ul,
	li {
		@apply font-ui text-gray-700;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading text-gray-900;
	}

	.container {
		@apply mx-auto grid grid-cols-4 gap-x-16 px-structurePadding desktop:px-0 tablet:grid-cols-8 tablet:gap-x-16 desktop:grid-cols-12 desktop:gap-x-16;
	}
	.responsive-sections {
		@apply col-start-1 col-span-4 tablet:col-start-2 tablet:col-span-6 desktop:col-start-3 desktop:col-span-8;
	}
	.section-block {
		@apply mb-32 responsive-sections;
	}
	.section-block-inside {
		@apply flex flex-col gap-14;
	}
	.header-responsive {
		@apply responsive-sections;
	}
	.hero {
		@apply tablet:border-2 tablet:p-16 tablet:rounded-[2rem] -mx-structureMargin px-structurePadding py-10 col-start-1 col-span-4 tablet:col-start-2 tablet:col-span-6 desktop:col-start-3 desktop:col-span-8 tablet:-mx-16 mb-32;
	}

	.p-base {
		@apply text-bodyMobileRegularBase tablet:text-bodyWebRegularBase;
	}
	.p-large {
		@apply text-bodyMobileRegularLarge  tablet:text-bodyWebRegularLarge;
	}

	.b-base {
		@apply text-gray-800 text-bodyMobileBoldBase tablet:text-bodyWebBoldBase;
	}
	.b-large {
		@apply text-gray-800 text-bodyMobileBoldLarge tablet:text-bodyWebBoldLarge;
	}
	.i-base {
		@apply text-bodyMobileItalicBase tablet:text-bodyWebItalicBase;
	}
	.i-large {
		@apply text-bodyMobileItalicLarge tablet:text-bodyWebItalicLarge;
	}
	.heading-bigger {
		@apply text-headingMobileBigger tablet:text-headingWebBigger;
	}
	.heading-big {
		@apply mb-4 text-headingMobileBig tablet:text-headingWebBig;
	}
	.heading-base {
		@apply mb-4 text-headingMobileBase tablet:text-headingWebBase;
	}
	.heading-small {
		@apply mb-10 text-headingMobileSmall tablet:text-headingWebSmall uppercase;
	}

	.heading-link {
		@apply heading-big cursor-pointer hover:underline hover:underline-offset-4 hover:decoration-2;
	}

	.heading-link-blue {
		@apply heading-link decoration-blue-500;
	}
	.heading-link-green {
		@apply heading-link decoration-green-500;
	}
	.heading-link-purple {
		@apply heading-link decoration-purple-500;
	}
	.heading-link-orange {
		@apply heading-link decoration-orange-500;
	}
	.heading-link-yellow {
		@apply heading-link decoration-yellow-500;
	}
	.heading-link-red {
		@apply heading-link decoration-red-500;
	}
	.link-base {
		@apply p-base text-gray-800 underline underline-offset-2 cursor-pointer;
	}
	.link-large {
		@apply p-large text-gray-800 underline underline-offset-2 cursor-pointer;
	}
	.link-button-base {
		@apply b-base underline underline-offset-2 cursor-pointer;
	}
	.button-base {
		@apply b-base cursor-pointer px-6 py-3 bg-blue-500 rounded-full text-white-white;
	}

	.link-color-blue {
		@apply text-blue-500;
	}
	.link-color-red {
		@apply text-red-500;
	}
	.link-color-orange {
		@apply text-orange-500;
	}
	.link-color-purple {
		@apply text-purple-500;
	}
	.link-color-green {
		@apply text-green-500;
	}
	.link-color-yellow {
		@apply text-yellow-500;
	}

	.link-hover {
		@apply before:block before:absolute before:-inset-0 before:bg-yellow-200 relative inline-block;
	}

	.divider-blue {
		@apply stroke-blue-500 h-3 tablet:h-4;
	}
	.divider-red {
		@apply stroke-red-500 h-3 tablet:h-4;
	}
	.divider-purple {
		@apply stroke-purple-500 h-3 tablet:h-4;
	}
	.divider-green {
		@apply stroke-green-500 h-3 tablet:h-4;
	}
	.divider-yellow {
		@apply stroke-yellow-500 h-3 tablet:h-4;
	}
	.divider-orange {
		@apply stroke-orange-500 h-3 tablet:h-4;
	}

	.hero-gray {
		@apply hero bg-gray-200 border-gray-900/[5%];
	}
	.hero-green {
		@apply hero bg-green-200 border-green-900/[5%];
	}
	.hero-purple {
		@apply hero bg-purple-200 border-purple-900/[5%];
	}
	.hero-red {
		@apply hero bg-red-200 border-red-900/[5%];
	}
	.hero-yellow {
		@apply hero bg-yellow-200 border-yellow-900/[5%];
	}
	.hero-blue {
		@apply hero bg-blue-200 border-blue-900/[5%];
	}

	.hero-mini {
		@apply bg-purple-200 border-gray-900/[5%] border-2 p-10 col-start-1 col-span-4 tablet:p-16 rounded-[2rem] tablet:col-start-3 tablet:col-span-8  mb-32;
	}
	.hero-mini-gray {
		@apply hero-mini bg-gray-200 border-gray-900/[5%];
	}
	.hero-mini-green {
		@apply hero-mini bg-green-200 border-green-900/[5%];
	}
	.hero-mini-purple {
		@apply hero-mini bg-purple-200 border-purple-900/[5%];
	}
	.hero-mini-red {
		@apply hero-mini bg-red-200 border-red-900/[5%];
	}
	.hero-mini-yellow {
		@apply hero-mini bg-yellow-200 border-yellow-900/[5%];
	}

	.card-new {
		/* @apply transition ease-in-out duration-500 mb-24 tablet:mb-6 group flex flex-col-reverse gap-10 tablet:gap-12 tablet:grid tablet:grid-cols-2 tablet:items-center tablet:p-16 tablet:-mx-16 rounded-[2rem] tablet:border-2 tablet:border-gray-100 tablet:hover:bg-gray-200 tablet:hover:border-gray-900/[5%] cursor-pointer; */
	}
}
